#contact {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/home1.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background static on scroll */
    margin-top: 300px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 50px; /* Add padding for spacing */
    gap: 20px; /* Space between the form and the map */
}

.contact-container {
    display: flex;
    justify-content: flex-start; /* Align form container slightly to the left */
    width: 80%; /* Adjust the width of the container */
    max-width: 1200px;
}

.container {
    width: 40%; /* Take up 40% of the available width */
    height: auto;
    background-color: #e6ca9e;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    .container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .container p {
        font-size: 1.2rem;
        color: black;
    }

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input,
    .form-group textarea {
        width: 95%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

    .form-group textarea {
        resize: none;
    }

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

    button:hover {
        background-color: #555;
    }

.container .social-media {
    margin-top: 20px;
    text-align: center;
}

    .container .social-media h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: black;
    }

    .container .social-media .social-icon {
        margin: 0 10px;
        font-size: 2rem; /* Customize the size of the icons here */
        color: #333;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
    }

        .container .social-media .social-icon:hover {
            color: #555;
            transform: scale(1.2);
        }
